body{
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 1050px;
  border-radius: 20px;
  background: rgb(2,89,251);
}
